flask
requests
python-dotenv
pytz
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
pdfplumber
python-docx
google-generativeai
faiss-cpu
numpy
gunicorn
Flask-Cors
google-cloud-storage